body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  cursor: url('/static/Claws.png') 16 16, auto; /* 热点设置为图片中心 */
}


h1 {
  color: #333;
}

form {
  margin: 20px 0;
}

#result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#cat-animation {
  margin-top: 20px;
  margin-bottom: 20px;
}

#loading {
  display: none;
}

#loading p {
  font-size: 18px;
  color: #333;
}

#emotionGif {
  margin-top: 20px;
  width: 300px; /* 调整大小根据需要 */
}
